.about {
  width: 100%;

  .about__banner {
    height: 37rem;
    width: 100%;
    margin: 0 auto;
    @include flex-layout($direction: column);
    position: relative;

    @include responsive(medium) {
      height: 30rem;
      padding: 0 2rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(0%, -20%);
      width: 100vw;
      height: 130%;
      background: url("/src/assets/hero11-free-img.png");
      background-size: fill;
      filter: grayscale(100%);
      z-index: -1;
    }

    .heading {
      font-size: var(--lg-600);
      margin-bottom: 2rem;
      max-width: 58rem;

      @include responsive(medium) {
        font-size: var(--md-500);
      }
    }
    .sub-heading {
      font-size: var(--sm-400);
      font-weight: 400;
      text-align: center;
      max-width: 58rem;

      @include responsive(medium) {
        font-size: var(--xs-600);
      }
    }
  }
}
