.about {
  width: 100%;

  .about__banner {
    height: 37rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    color: var(--color-primary);
    @include flex-layout($direction: column);
    position: relative;

    @include responsive(medium) {
      height: 30rem;
      padding: 0 2rem;
    }

    .heading {
      font-size: var(--lg-600);
      margin-bottom: 2rem;
      max-width: 58rem;

      @include responsive(medium) {
        font-size: var(--md-500);
      }
    }
    .sub-heading {
      font-size: var(--sm-400);
      font-weight: 400;
      text-align: center;
      max-width: 58rem;

      @include responsive(medium) {
        font-size: var(--xs-600);
      }
    }
  }
}
