.all-products {
  @include flex-layout($align: strech, $justify: flex-start);
  @include full-width-container($max: 1340px);

  padding: 6rem 2rem;
  height: auto;
  min-height: 50rem;

  @include responsive(medium) {
    flex-direction: column;
    padding: 2rem;
  }

  &__left {
    width: 26%;
    min-height: 100%;
    padding-right: 6rem;
    background-color: $color-primary;
    border-right: 1px solid #dddddd;

    @include responsive(large) {
      padding-right: 3rem;
    }

    @include responsive(medium) {
      width: 100%;
      padding: 2rem 0;
      order: 5;
    }
  }

  &__right {
    padding-left: 6rem;
    min-height: 100%;
    background-color: $color-primary;
    // background-color: $color-secondary;
    border: 1px solid $color-primary;
    width: 74%;

    @include responsive(large) {
      padding-left: 3rem;
    }

    @include responsive(medium) {
      width: 100%;
      padding: 2rem 0;
    }

    header {
      background: $color-primary;
    }

    .heading {
      color: $color-tertiary;
      margin-bottom: 6rem;
      font-size: var(--lg-600);
      font-weight: 400;

      @include responsive(medium) {
        font-size: var(--md-500);
      }
    }

    .content-details {
      @include flex-layout($justify: space-between);

      .current-page {
        font-size: var(--sm-500);
        margin: 1.5rem 0;
      }

      select {
        background-color: transparent;
        color: $color-secondary;
        padding: 0.75rem;
        font-size: var(--sm-500);
        border: 0;
        outline: 0;
      }
    }

    .product-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      column-gap: 2rem;
      margin: 3.7rem 0 1.5rem;
      justify-items: center;
      align-items: center;
      @include responsive(small) {
        grid-template-columns: repeat(2, 1fr);
      }
      @include responsive(xsmall) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .pagenumber-container {
      @include flex-layout($justify: flex-start);

      .active {
        background-color: $color-tertiary;
        color: white;
      }

      .pagenumber {
        @include flex-layout;
        width: 4rem;
        height: 4rem;
        font-size: var(--sm-500);
        font-weight: 500;
        padding: 1.2rem;
        margin: 0.5rem;
        border: 1px solid $color-tertiary;
        transition: all 0.2s ease-in-out;

        &:hover {
          background-color: $color-tertiary;
          color: white;
        }
      }
    }
  }
}
