.about__details {
  @include full-width-container($max: 1200px);
  padding: 11rem 0;
  display: grid;
  background-color: $background-color;
  grid-template-columns: 1fr 1fr;
  @include responsive(large) {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    padding: 3rem;
  }

  &__left {
    margin-bottom: 2rem;
    padding-right: 10rem;

    @include responsive(medium) {
      padding-right: 0;
    }

    .heading {
      font-size: var(--md-600);
      margin-bottom: 2.4rem;
    }

    .content {
      font-size: var(--sm-400);
      font-weight: 400;
      line-height: 2;
    }
  }
  &__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem 4.5rem;

    @include responsive(xsmall) {
      grid-template-columns: 1fr;
      text-align: center;

      .benefit-card {
        @include flex-layout($direction: column);
      }
    }
  }
}
