.collapsible {
  height: fit-content;
}

.collapsible__header {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 4rem 3rem;
  border-bottom: 1px solid lighten($color-secondary, 50%);
  i {
    color: $color-tertiary;
    font-weight: 700;
    margin: 0 2rem;
  }

  @include responsive(small) {
    font-size: var(--xs-600);
    padding: 3rem 1rem;
  }
}

.collapsible__body {
  font-size: 1.5rem;
  line-height: 1.5;
  border-bottom: 1px solid lighten($color-secondary, 50%);
  font-size: var(--sm-500);
  opacity: 1;
  max-height: 0;
  overflow: hidden;
  // transition: all 1s cubic-bezier(1, 0, 0, 1);

  p {
    padding: 2.5rem 3rem;
  }
}

.collapsible--expanded {
  .collapsible__header {
    color: $color-tertiary;
  }

  .collapsible__body {
    opacity: 1;
    max-height: fit-content;
    overflow: hidden;
    max-height: 1000px;
    transition: 0;
    transition: all 1s cubic-bezier(1, 0, 0, 1);
  }

  p {
    padding: 2.5rem 3rem;
  }
}
