.collapsible {
  height: fit-content;
}

.collapsible__header {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 4rem 3rem;
  border-bottom: 1px solid var(--border-color);
  i {
    color: var(--color-tertiary);
    font-weight: 700;
    margin: 0 2rem;
  }

  @include responsive(small) {
    font-size: var(--xs-600);
    padding: 3rem 1rem;
  }
}

.collapsible__body {
  font-size: 1.5rem;
  line-height: 1.5;
  border-bottom: 1px solid var(--border-color);
  font-size: var(--sm-500);
  opacity: 0;
  overflow: hidden;
  max-height: 0vh;
  transition: all 0.9s ease-out;
  // transition: all 1s linear;

  p {
    padding: 2.5rem 3rem;
  }
}

.collapsible__body--expanded {
  opacity: 1;
  max-height: 100%;
  transition: all 1s ease-in;
}

.collapsible--expanded {
  .collapsible__header {
    color: var(--color-tertiary);
  }

  .collapsible__body {
    opacity: 1;
    max-height: 400px;
    // transition: all 1s cubic-bezier(1, 0, 0, 1);
  }

  p {
    padding: 2.5rem 3rem;
  }
}
