.hottest-deals {
  .product-container {
    padding: 0 0.6rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;

    @include responsive(medium) {
      justify-items: start;
      padding: 0 1.2rem;
    }

    @include responsive(xsmall) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }
  .product-card {
    justify-content: flex-start;
    @include responsive(small) {
      max-width: 30rem;
    }
  }
  // span {
  //   display: block;
  // }

  .sale-label {
    background-color: white;
    transform: translate(-15%, -15%);
    border: 1px solid black;
  }
  .rating {
    display: none;
  }
}
