.about-footer {
  background-color: var(--border-color);
  width: 100%;
  .card-container {
    @include full-width-container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 3rem;

    @include responsive(large) {
      padding: 2rem;
      gap: 2rem;
    }

    @include responsive(medium) {
      grid-template-columns: 1fr 1fr;
      row-gap: 10rem;
      padding: 9rem 2rem;
    }

    @include responsive(xsmall) {
      grid-template-columns: 1fr;
      // row-gap: 10rem;
      // padding: 9rem 2rem;
    }

    .benefit-card {
      @include flex-layout($direction: column);
      padding: 2.5rem;

      text-align: center;

      .benefit-card__heading {
        margin-bottom: 2rem;
      }

      .benefit-card__content {
        width: 80%;
      }
    }
  }
}

#dark-mode .about-footer {
  background-color: var(--background-color);
  .benefit-card {
    // background-color: var(--border-color);
    color: white;

    img {
      filter: invert(1);
    }
  }
}
