* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 62.5%;
  // background-color: lighten(#eeeeee, 2%);
  background-color: #f4f5f6;
  color: $color-secondary;
  font-family: "Poppins";
  width: 100%;
  height: auto;
  min-width: 322px;

  @include responsive(medium) {
    font-size: 56.25%;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $color-secondary;
}

:root {
  @each $size, $weights in $font-size {
    @each $weight, $value in $weights {
      --#{$size}-#{$weight}: #{$value};
    }
  }
}
