* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  font-size: 62.5%;

  background-color: var(--background-color);
  color: var(--color-primary);

  font-family: "Poppins";
  width: 100%;
  height: auto;
  min-width: 322px;
  padding: 0;
  margin: 0;

  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--color-primary);
}

:root {
  // --background-color: #{$background-color};
  // --color-primary: #{$color-primary};
  // --color-secondary: #{$color-secondary};
  // --color-tertiary: #{$color-tertiary};
  // --border-color: #{$border-color};

  @each $size, $weights in $font-size {
    @each $weight, $value in $weights {
      --#{$size}-#{$weight}: #{$value};
    }
  }
}
