.product-page {
  @include full-width-container;
  background-color: var(--background-color);
  padding: 8rem 10rem;
  margin: 0 auto 5rem auto;
  position: relative;

  @include responsive(large) {
    padding: 4rem 2rem;
    margin: 2.5rem auto;
  }

  .already-present-text {
    position: absolute;
    top: 0;
    font-size: var(--md-400);
    color: var(--color-tertiary);
    text-align: right;
  }

  .product-added-to-cart {
    @include flex-layout($justify: space-between);
    @include full-width-container;
    border: 1px solid var(--border-color);
    padding: 1rem 5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: var(--background-color);

    color: var(--color-tertiary);
    p {
      font-size: 1.5rem;
    }
    button {
      margin: 0;
    }
  }

  .product-detail {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 52.1rem;
    gap: 5rem;

    @include responsive(medium) {
      grid-template-columns: 1fr;
      grid-auto-rows: 40rem;
    }

    &__left {
      width: 100%;
      height: 100%;
      overflow: hidden;

      @include responsive(medium) {
        // width: 50%;
        margin: 0 auto;
      }

      .image-container {
        width: 100%;
        height: 100%;

        @include responsive(small) {
          // width: 50%;
          margin: 2rem auto;
        }

        @include responsive(xsmall) {
          width: 100%;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
    &__right {
      width: 100%;
      @include flex-layout($direction: column, $align: flex-start);

      @include responsive(small) {
        width: 100%;
      }

      .product__heading {
        font-size: var(--md-600);
        margin-bottom: 1.5rem;

        @include responsive(medium) {
          font-size: var(--md-500);
        }
      }

      .product__price {
        @include flex-layout($align: baseline);

        margin-bottom: 1rem;
        .product__old-price {
          font-size: var(--md-400);
          text-decoration: line-through;
          margin-right: 1rem;
          // display: none;

          @include responsive(small) {
            display: block;
          }
        }

        .product__new-price {
          margin-right: 1rem;
          font-size: var(--md-400);
          font-weight: 700;
        }

        .product__free-shipping {
          font-size: var(--sm-400);
        }
      }

      .product__short-description {
        font-size: var(--sm-400);
        margin-bottom: 1.5rem;
      }

      .product__add-to-cart {
        @include flex-layout($justify: flex-start);
        gap: 2rem;

        input {
          font-size: var(--sm-400);
          width: 5rem;
          outline: none;
          padding: 0.5rem;
          border: 1px solid var(--border-color);
        }
      }

      .product__category {
        width: 100%;
        font-size: var(--sm-400);
        padding: 0.6rem;
        border-top: 1px solid var(--border-color);

        @include flex-layout($justify: flex-start);

        .value {
          margin-left: 1rem;
          color: var(--color-tertiary);
        }
      }
    }
  }
}
