.input-grp {
  width: 100%;
  @include flex-layout($direction: column, $align: flex-start);
  margin-bottom: 1rem;

  label {
    text-transform: capitalize;
    font-size: var(--xs-600);
    font-weight: 700;
    line-height: 2;
  }

  input,
  textarea {
    // margin: 0.5rem 0;
    width: 100%;
    padding: 1.2rem;
    font-size: var(--sm-600);
    outline: none;
    border: 1px solid #dddddd;
    font-family: "Poppins";
  }
  textarea {
    resize: none;
  }
}

.checkbox-input-grp {
  @include flex-layout($justify: flex-start);

  label {
    text-transform: capitalize;

    width: fit-content;
    order: 10;
  }
  input {
    width: fit-content;
    margin: 0 0.5rem;
  }
}

#dark-mode textarea {
  background-color: rgb(32, 32, 32);
  color: white;
  border: 0;
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: white;
  }
}
