.product-table {
  @include flex-layout($direction: column);
  @include full-width-container($max: 1200px);
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  border: 1px solid $border-color;

  @include responsive(medium) {
    display: none;
  }

  .product-table__header {
    width: 100%;

    .product-table__row {
      background-color: $color-primary;
      font-weight: 700;
      text-transform: capitalize;
      height: 4.5rem;
    }
  }
  .remove-btn {
    min-width: 8%;
    width: 8%;
  }

  .product-table__row {
    height: 10rem;
  }

  .product-img {
    width: 15%;
    height: 100%;
    img {
      object-fit: cover;
      width: 60%;
      height: 100%;
    }
  }
  span {
    min-width: 15%;
    display: block;
    gap: 2rem;
    @include flex-layout($justify: flex-start);
  }

  .product-table__row {
    width: 100%;
    @include flex-layout($justify: space-between);
    padding: 0.5rem;
    color: $color-secondary;
    border-bottom: 1px solid $border-color;

    .product-name {
      width: 40%;
      color: $color-secondary;
    }
  }

  .product-table__body {
    width: 100%;
    .remove-btn {
      font-weight: 100;

      .icon-container {
        margin: 0 auto;
        width: 25px;
        height: 25px;
        opacity: 0.7;
        cursor: pointer;
        @include flex-layout;
        border: 1px solid black;
        border-radius: 50%;

        &:hover {
          opacity: 1;
        }
      }
    }

    // .product-img {
    //   height: 100%;

    //   img {
    //     max-width: 7rem;
    //     object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    //   }
    // }

    .product-name {
      text-align: left;
      color: $color-tertiary;
    }
    .product-quantity {
      input {
        width: 50%;
        max-width: 5rem;
        padding: 0.5rem;
      }
    }

    .product_old-price {
      text-decoration: line-through;
      font-size: 1.4rem;
      color: lighten($color-secondary, 20%);
    }
  }

  .product-table__footer {
    width: 100%;
    padding: 0 2rem;
    @include flex-layout($justify: space-between);
    .coupon-container {
      width: 80%;
      @include flex-layout($justify: flex-start);
      gap: 1rem;

      input {
        width: 20rem;
        line-height: 0;
        padding: 0.75rem 1.12rem;
        border: 1px solid $border-color;
        outline: none;
        font-size: 1.5rem;
      }
    }
    button {
      margin: 1rem;
    }
  }
}
