.related-products-section {
  &__heading {
    font-size: var(--md-600);
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  .related-products__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 40rem;
    gap: 2rem;

    a {
      width: 100%;
      height: 100%;
    }

    @include responsive(large) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include responsive(small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
