.deal-of-the-day-container {
  width: 100%;

  .banner {
    padding: 12rem 8rem;

    @include responsive(large) {
      padding: 8rem 4rem;
    }
    @include responsive(medium) {
      padding: 6rem 2rem;
    }
    @include responsive(small) {
      padding: 4rem 2rem;
    }
  }

  .banner__tagline {
    font-size: var(--md-500);
    color: var(--background-secondary-color);
  }

  .banner__heading {
    font-size: var(--md-600);
    color: var(--background-secondary-color);
  }
  .banner__sub-heading {
    font-size: var(--sm-600);
    color: var(--background-secondary-color);
    font-weight: 600;
  }
}

#dark-mode {
  .deal-of-the-day-container {
    .banner__tagline {
      color: var(--color-primary);
    }
    .banner__heading {
      color: var(--color-primary);
    }
    .banner__sub-heading {
      color: var(--color-primary);
    }
  }
}
