.services-provided {
  @include full-width-container($max: 1200px);
  // @include flex-layout;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 3rem;

  @include responsive(small) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  &__left {
    padding-right: 5rem;

    .icon-list-container {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 40% 60%;
      gap: 1rem;

      @include responsive(medium) {
        grid-template-columns: 1fr;
      }
    }
  }
  &__right {
    // border: 1px solid black;

    border-radius: 5px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.06);
  }
}
